 
 .background2{
  background-image: url(xxx.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  /* background-attachment: fixed; */
  background-size:22%;
   border: 2px solid #000;
		border-radius: 10px;
} 
 .background{
  background-image: url(1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

} 

 

	html {
	
	}

	body{
	background-color:#f8f8f8;
	font-family: "Monotype Corsiva" Cursive;
	color: #000; /* Цвет текста */
	background-size: 80%;
	margin: 0;
	
	}
	
	.l{
	background: #f8f8f8  url(XXX.png) ; /* Цвет фона и путь к файлу */
	padding-left:10%;
	}
	
	marquee{
	color: #001001;
	background-color: #c9c9c9;
	font-size: 20px;
	text-shadow: #494949 3px 3px 2px;
	font-variant:"small-caps";
	}
	
	.title {
	font-family: "Times New Roman" bold;
	font-size: 16px;
	background-color:#ffffff;
	text-align: center;
	padding-right: 85%;
	}
	
	.txt{
	font-family: "Times New Roman";
	font-size: 14px;
	background-color:#fff;;
	}
	
	.button{
		padding-left: 3%;
		size: 200%;
		background-color:#a9a9a9;
		border: 1px solid #000;
		border-radius: 10px;
	}
	
	#sidebar, #content { position: absolute; } 
   #sidebar, #content { overflow: auto; padding: 10px; }
   #header {
    height: 80px; 
    background: #FEDFC0; border-bottom: 2px solid #7B5427;
